.main {
 &-left, &-right {
  max-height: calc(100vh - 56px);
  overflow: auto;
 }

 &-left {
  .filter {
   position: sticky;
   top: 0;
   z-index: 1;
   background: #fff;
   padding: 10px;
   border-bottom: 1px solid #ccc;
  }

  .post {
   border: 2px solid #f0f0f0;
   margin: 8px;

   &:hover {
    border: 2px solid #e0e0e0;
   }

   &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
     margin: unset;
    }
   }
  }
 }
}
